#type {
	background-color: #890e54;
	border: solid #890e54 1px;
	border-radius: 3px;
	display: block;
	margin: 50px auto 50px auto;
	width: 200px;
}

#type a {
	color: white;
	text-decoration: none;
}

table {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

td {
	background-color: white;
}

thead {
	background-color: #890e54;
	color: white;
}

button {
	width: 100px;
	margin-right: 15px;
	border-radius: 3px;
}