<div>
	<h2>Type User List</h2>
	<button id="type"><a routerLink="/addtype">Add a type user</a></button>
	<div class="card-body">
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col" [appSort]="types" data-order="desc" data-name="type_id"><span class="triangle">&#9650;</span>&#12644;&#12644;Id&#12644;&#12644;<span class="triangle">&#9660;</span></th>
					<th scope="col" [appSort]="types" data-order="desc" data-name="name">Type User</th>
					<th>&#12644;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let type of types; let i=index;">
					<td>{{ type.type_id }}</td>
					<td>{{ type.name }}</td>
					<td><button class="edit">Edit</button><button class="remove" (click)="deleteType(type.type_id, i)">Remove</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

