input {
	border: solid #890e54ff 3px;
	width: 300px;
	text-align: center;
	display: block;
	margin: 20px auto;
	border-radius: 3px;
	padding: 0;
}

::placeholder {
	color: black;
}

button {
	width: 300px;
	background-color: #890e54ff;
	border-radius: 3px;
	color: white;
	text-align: center;
	display: block;
	margin: 20px auto;
	border: solid #890e54ff 3px;
}